
@model LDS.Web.Admin.ViewModels.RaceEntryViewModel

@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-l">Race Entry</h1>

@if(Model is { ChangesSaved: true })
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Changes saved successfully
                </h1>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <a class="govuk-link govuk-link--no-visited-state" href="/Race/@Model.RaceId">
                &lt; Back to race
            </a>
        </div>
    </div>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @Html.LabelFor(re => re.RaceName, new { @class = "govuk-heading-s" })
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                @Model.RaceName
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @Html.LabelFor(re => re.RunnerName, new { @class = "govuk-heading-s" })
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                @Model.RunnerName
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @Html.LabelFor(re => re.Miles, new { @class = "govuk-heading-s" })
        </div>
    </div>

    <form method="post" enctype="application/x-www-form-urlencoded">
        @Html.HiddenFor(re => re.RaceId)
        @Html.HiddenFor(re => re.RunnerId)
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <input class="govuk-input" id="miles" name="Miles" type="text" spellcheck="false" value="@Model?.Miles">
                @Html.ValidationMessageFor(re => re.Miles, null, new { @class = "govuk-error-message" })
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save changes
                </button>
            </div>
        </div>
    </form>
}