@{
    Layout = "_Layout";
}

@model RaceViewModel;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-body-l">@Model.Date</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-heading-s">
                    Runner
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-heading-s">
                    Miles
                </p>
            </div>
        </div>
        @foreach(var entry in Model.Entries)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Runner/@entry.RunnerId">
                            @entry.RunnerName
                        </a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body">
                        @entry.Miles.ToString("0.###")
                    </p>
                </div>
            </div>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <span class="govuk-heading-s">Total:</span> @Model.TotalRunners
        </p>
    </div>
</div>