@{
    Layout = "_Layout";
}

@model LDS.Web.Public.ViewModels.RunnerViewModel;

<p class="unbreaking">
    <span class="govuk-heading-m">@Model.DisplayName</span>
    <span class="govuk-caption-m">(@(string.IsNullOrEmpty(Model.Gender) ? "Gender not set" : Model.Gender))</span>
</p>
<span class="govuk-caption-m">
    @Model.Year: @Model.RaceEntries!.Count Races, @Model.TotalMiles?.ToString("0.###") miles 
</span>

<hr class="govuk-section-break govuk-section-break--m">

@await Html.PartialAsync("_RunnerRaceParticipation", Model.RaceEntries)

