@{
    Layout = "_Layout";
}

@using LDS.Web.Admin.ViewModels
@model LDS.Web.Admin.ViewModels.RaceParticipationViewModel?

<h1 class="govuk-heading-l">
    Race Participation
</h1>

<form method="post" enctype="application/x-www-form-urlencoded">
    @Html.AntiForgeryToken()

    <div class="govuk-form-group">
    <label class="govuk-label" for="name">
        Race name
    </label>
    <input class="govuk-input" id="name" name="Name" type="text" spellcheck="false" value="@Model?.Name">
    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "govuk-error-message"})
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="date">
        Date
    </label>
    <input class="govuk-input" id="date" name="Date" type="date" value="@Model?.Date">
    @Html.ValidationMessageFor(m => m.Date, null, new { @class = "govuk-error-message"})
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="runners">
        Runners
    </label>
    <textarea class="govuk-textarea" id="runners" name="runners" rows="5"></textarea>
    @Html.ValidationMessageFor(m => m.Runners, null, new { @class = "govuk-error-message"})
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="miles">
        Miles
    </label>
    <input class="govuk-input" id="miles" name="Miles" type="text" spellcheck="false" value="@Model?.Miles">
    @Html.ValidationMessageFor(m => m.Miles, null, new { @class = "govuk-error-message"})
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
</form>

@if(ViewBag.RaceParticipationByRace != null) {
    var participation = (RaceParticipationByRace)ViewBag.RaceParticipationByRace;

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Race participation created</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Race Id</th>
                <td class="govuk-table__cell">@participation.RaceId</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Race Name</th>
                <td class="govuk-table__cell">@participation.RaceName</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">@participation.Date</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Entries</th>
                <td class="govuk-table__cell">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table--row">
                                <th scope="col" class="govuk-table__header">Runner Id</th>
                                <th scope="col" class="govuk-table__header">Runner Name</th>
                                <th scope="col" class="govuk-table__header">Miles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entry in participation?.Entries)
                            {
                                <tr class="govuk-table--row">
                                    <td class="govuk-table__cell">@entry.RunnerId</td>
                                    <td class="govuk-table__cell">
                                        <a class="govuk-link govuk-link--no-visited-state" href="/Runner/@entry.RunnerId">
                                            @entry.RunnerName
                                        </a>
                                    </td>
                                    <td class="govuk-table__cell">@entry.Miles.ToString("0.###")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}